$biege : rgb(239,237,230)



body
  padding: 0
  margin: 0
  width: 100vw
  height: 100vh
  overflow: hidden

.sidebar
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  position: fixed
  width: 35px
  height: 100%
  top: 0
  border-right: 1px solid #cdcdcd
  cursor: pointer
  z-index: 999
  color: #000
  background-color: rgba(255,255,255,0.7)
  .logo
    font-family: Fira sans
    font-size: 1em
    position: absolute
    top: 0
    margin-top: 3px
  .handle
    display: flex
    justify-content: space-between
    align-items: center
    width: 9px
    height: 30px
    .v-bar-a, .v-bar-b
      width: 2px
      height: 100%
      background-color: #6c6c6c

.outer-most
  min-width: 100%
  width: auto
  height: 100%
  overflow-Y: hidden
  position: absolute
  .side-panel
    display: inline-block
    width: 75%
    height: 100%
    background-color: rgb(30, 31, 36)
    color: #dadada
    margin-left: -75%
    position: relative
  .front-area
    display: inline-block
    min-width: 25%
    width: auto
    height: 100%
    .content-container
      display: flex
      width: auto
      height: 100%
      position: absolute
      .profile
        padding-left: 50px
        // min-width: 800px
        min-width: 50vw
        height: 100%
        // background:
        //   image: url('/assets/bg-00.jpg')
        //   size: cover
        //   repat: no-repeat
      .projects
        display: flex
        min-width: 40%
        width: auto
        height: 100%
        .skills
          width: 350px
          height: 100%
          border-left: 1px solid #cdcdcd
        .project
          width: 1000px
          height: 100%
          border-left: 1px solid #cdcdcd

::-webkit-scrollbar
  width: 5px
  height: 5px

::-webkit-scrollbar-track
  background: #000
  border: 2px solid rgba(0,0,0,0.7)
  background-clip: content-box

::-webkit-scrollbar-thumb
  background: #191919
  border: 1px solid #000
