doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Karthik Meda Portfolio
	body
		.sidebar
			.logo.fa.fa-angle-right
				span.blink _
			.handle
				.v-bar-a.v-bar
				.v-bar-b.v-bar
		.outer-most
			.side-panel
				.side-panel-overlay
					.story-top
						.avatar
					.bottom-map Where abouts
			.front-area
				.content-container
					.profile
						.dial-container 
							.dial
								svg#Layer_1(data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 895.5 894.2")
									path.top-dial(d="M50,500C50,262.9,233.37,68.63,466,51.26" transform="translate(-37.5 -38.8)" style="fill:none;stroke:#0afc9b;stroke-miterlimit:10;stroke-width:25px;stroke-dasharray:130,5")
									circle.outer-circle(cx="462.5" cy="461.2" r="425" style="fill:none;stroke:#757575;stroke-miterlimit:10;stroke-width:16px;stroke-dasharray:1,15")
									circle.inner-circle.triangle(cx="462.5" cy="461.2" r="405" style="fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:12px;stroke-dasharray:2,56")
									path(d="M885,500A383.89,383.89,0,0,1,766.19,778.15" transform="translate(-37.5 -38.8)" style="fill:none;stroke:#0afc9b;stroke-miterlimit:10;stroke-width:16px;stroke-dasharray:7,5")
						.text-container
							.text-overlay 
								.greeting 
									i Hello..
								br
								.name I am 
									span Karthik Meda
								br
								.iam I Design & Code
								br
								br
								.endline
									i Made with Coffee, Music and my mighty Hackintosh
						.forward-indicator
							span.forward.fa.fa-long-arrow-right
					.projects
						.skills
							
							.skills-overlay
								
								.tool-chain
									.label Skills / Tools
									.skill HTML/CSS
										.level.html
									.skill Javascript
										.level.javascript
									.skill jQuery
										.level.jquery
									.skill React - Redux
										.level.react
									.skill NodeJS
										.level.nodejs
									.skill MongoDB
										.level.mongo
									.skill Webpack / Gulp
										.level.webpack
									.skill Photoshop
										.level.ps
									.skill Illustrator
										.level.ai
								
						.projects-wrapper
							.grid-container
								.grid
									.project-21.project
										.overlay
											.count #21
											.description Pinterest Clone
											.popup
												.stack.fa.fa-wrench 
													span React-Redux, NodeJS, MongoDB, Express, Socket.io
												.github.fa.fa-code
												.live-link.fa.fa-desktop
									.project-20.project
										.overlay
											.count #20
											.description Book Trading Club
											.popup
												.stack.fa.fa-wrench 
													span React-Redux, NodeJS, MongoDB, Express, Socket.io
												.github.fa.fa-code
												.live-link.fa.fa-desktop
									.project-19.project
										.overlay
											.count #19
											.description Night Life Coordination
											.popup
												.stack.fa.fa-wrench 
													span React-Redux, NodeJS, Express, Firebase
												.github.fa.fa-code
												.live-link.fa.fa-desktop
									.project-18.project
										.overlay
											.count #18
											.description Stock Charts
											.popup
												.stack.fa.fa-wrench 
													span React-Redux, NodeJS, Express, Firebase
												.github.fa.fa-code
												.live-link.fa.fa-desktop
									.project-17.project
										.overlay
											.count #17
											.description Voting  App
											.popup
												.stack.fa.fa-wrench 
													span React-Redux, NodeJS, Express, Firebase
												.github.fa.fa-code
												.live-link.fa.fa-desktop
									.project-16.project
										.overlay
											.count #16
											.description Socket.io Chat App
											.popup
												.stack.fa.fa-wrench 
													span NodeJS, Express, Socket.io
												.github.fa.fa-code
												.live-link.fa.fa-desktop
									.project-15.project
										.overlay
											.count #15
											.description Youtube Search
											.popup
												.stack.fa.fa-wrench 
													span React, NodeJS
												.github.fa.fa-code
												.live-link.fa.fa-desktop
									.project-14.project
										.overlay
											.count #14
											.description Camper Leaderboard
											.popup
												.stack.fa.fa-wrench 
													span React
												.github.fa.fa-code
												.live-link.fa.fa-desktop
									.project-13.project
										.overlay
											.count #13
											.description Force Directed Graph
											.popup
												.stack.fa.fa-wrench 
													span HTML, CSS, D3.js
												.github.fa.fa-code
												.live-link.fa.fa-desktop
									.project-12.project
										.overlay
											.count #12
											.description Heat Map
											.popup
												.stack.fa.fa-wrench 
													span HTML, CSS, D3.js
												.github.fa.fa-code
												.live-link.fa.fa-desktop
									.project-11.project
										.overlay
											.count #11
											.description D3 Bar chart
											.popup
												.stack.fa.fa-wrench 
													span HTML, CSS, D3.js
												.github.fa.fa-code
												.live-link.fa.fa-desktop
									.project-10.project
										.overlay
											.count #10
											.description D3 Scatter Plot
											.popup
												.stack.fa.fa-wrench 
													span HTML, CSS, D3.js
												.github.fa.fa-code
												.live-link.fa.fa-desktop
									.project-09.project
										.overlay
											.count #9
											.description Recipe Box
											.popup
												.stack.fa.fa-wrench 
													span React
												.github.fa.fa-code
												.live-link.fa.fa-desktop
									.project-08.project
										.overlay
											.count #8
											.description Javascript Calculator
											.popup
												.stack.fa.fa-wrench 
													span HTML, CSS, jQuery
												.github.fa.fa-code
												.live-link.fa.fa-desktop
									.project-07.project
										.overlay
											.count #7
											.description Simon Game
											.popup
												.stack.fa.fa-wrench 
													span HTML, CSS, jQuery
												.github.fa.fa-code
												.live-link.fa.fa-desktop
									.project-06.project
										.overlay
											.count #6
											.description Tic-Tac-Toe
											.popup
												.stack.fa.fa-wrench 
													span HTML, CSS, jQuery
												.github.fa.fa-code
												.live-link.fa.fa-desktop
									.project-05.project
										.overlay
											.count #5
											.description Wikipedia Viewer
											.popup
												.stack.fa.fa-wrench 
													span HTML, CSS, jQuery
												.github.fa.fa-code
												.live-link.fa.fa-desktop
									.project-04.project
										.overlay
											.count #4
											.description Pomodoro Clock
											.popup
												.stack.fa.fa-wrench 
													span HTML, CSS, jQuery
												.github.fa.fa-code
												.live-link.fa.fa-desktop
									.project-03.project
										.overlay
											.count #3
											.description Twitch Tv
											.popup
												.stack.fa.fa-wrench 
													span HTML, CSS, jQuery
												.github.fa.fa-code
												.live-link.fa.fa-desktop
									.project-02.project
										.overlay
											.count #2
											.description Weather App
											.popup
												.stack.fa.fa-wrench 
													span HTML, CSS, jQuery
												.github.fa.fa-code
												.live-link.fa.fa-desktop
									.project-01.project
										.overlay
											.count #1
											.description Random Quote Machine
											.popup
												.stack.fa.fa-wrench 
													span HTML, CSS, jQuery
												.github.fa.fa-code
												.live-link.fa.fa-desktop
						.go-back-indicator
							span.back.fa.fa-long-arrow-left
