doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Karthik Meda Portfolio
	body
		.sidebar
			.logo KM
			.handle
				.v-bar-a.v-bar
				.v-bar-b.v-bar
		.outer-most
			.side-panel
			.front-area
				.content-container
					.profile Hello!
					.projects
						.skills Skills
						.project.project-00 Projects
