doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Karthik Meda Portfolio
	body
		.sidebar
			.logo.fa.fa-angle-right
				span.blink _
			.handle
				.v-bar-a.v-bar
				.v-bar-b.v-bar
		.outer-most
			.side-panel
				.text MY Self
			.front-area
				.content-container
					.profile Hello!
						br
						span I am Karthik Meda
						br
						span I design & code
						br
						span Canvas WebGl Art
						br
						span.hackintosh Made with Coffee Music and my Naughty Hackintosh
						.forward-indicator
							span.forward.fa.fa-long-arrow-right
					.projects
						.skills Skills
							.text Javascript
							.text HTML
							.text CSS
							.text React
							.text Redux
							.text Jquery
							.text Node.js
							.text MongoDB
							.text GSAP
						.project.project-00
							.text Projects
					.go-back-indicator
						span.back.fa.fa-long-arrow-left
