doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Karthik Meda Portfolio
	body
		.sidebar
			.logo.fa.fa-angle-right
				span.blink _
			.handle
				.v-bar-a.v-bar
				.v-bar-b.v-bar
		.outer-most
			.side-panel
				.side-panel-overlay
			.front-area
				.content-container
					.profile
						.dial-container 
							.dial
								svg#Layer_1(data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 895.5 894.2")
									path.top-dial(d="M50,500C50,262.9,233.37,68.63,466,51.26" transform="translate(-37.5 -38.8)" style="fill:none;stroke:#0afc9b;stroke-miterlimit:10;stroke-width:25px;stroke-dasharray:130,5")
									circle.outer-circle(cx="462.5" cy="461.2" r="425" style="fill:none;stroke:#757575;stroke-miterlimit:10;stroke-width:16px;stroke-dasharray:1,15")
									circle.inner-circle.triangle(cx="462.5" cy="461.2" r="405" style="fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:12px;stroke-dasharray:2,56")
									path(d="M885,500A383.89,383.89,0,0,1,766.19,778.15" transform="translate(-37.5 -38.8)" style="fill:none;stroke:#0afc9b;stroke-miterlimit:10;stroke-width:16px;stroke-dasharray:7,5")
						.text-container
							.text-overlay 
								.greeting 
									i Hello..
								br
								.name I am 
									span Karthik Meda
								br
								.iam I Design & Code
								br
								br
								.endline
									i Made with Coffee, Music and my mighty Hackintosh
						.forward-indicator
							span.forward.fa.fa-long-arrow-right
					.projects
						.skills
							
							.skills-overlay
								
								.tool-chain
									.label Skills / Tools
									.skill HTML/CSS
										.level.html
									.skill Javascript
										.level.javascript
									.skill jQuery
										.level.jquery
									.skill React - Redux
										.level.react
									.skill NodeJS
										.level.nodejs
									.skill MongoDB
										.level.mongo
									.skill Webpack / Gulp
										.level.webpack
									.skill Photoshop
										.level.ps
									.skill Illustrator
										.level.ai
								
						.projects-wrapper
							.grid-container
								.grid
									.project-21.project 21
										.overlay
											.description A Pinterest like clone made with react-redux, mongodb, socket.io
											.github
											.live-link
									.project-20.project 20
										.overlay
									.project-19.project 19
										.overlay
									.project-18.project 18
										.overlay
									.project-17.project 17
										.overlay
									.project-16.project 16
										.overlay
									.project-15.project 15
										.overlay
									.project-14.project 14
										.overlay
									.project-13.project 13
										.overlay
									.project-12.project 12
										.overlay
									.project-11.project 11
										.overlay
									.project-10.project 10
										.overlay
									.project-09.project 9
										.overlay
									.project-08.project 8
										.overlay
									.project-07.project 7
										.overlay
									.project-06.project 6
										.overlay
									.project-05.project 5
										.overlay
									.project-04.project 4
										.overlay
									.project-03.project 3
										.overlay
									.project-02.project 2
										.overlay
									.project-01.project 1
										.overlay
						.go-back-indicator
							span.back.fa.fa-long-arrow-left
